<!DOCTYPE html>
<html>
<head>
  <title>Education</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--navbar-->
<%= render partial:"share/topbar"%>

<%= yield %>

<!--footer-->
<div class="<%= "container" if params[:controller] != "signin"&& params[:controller] != "home" %>">
	<div class="row">
		<%= render partial: "share/footer"%>
	</div>
</div>

</body>
</html>
